* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media only screen and (max-width: 480px) {
  * {
    box-sizing: border-box;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  * {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #ffffff;
}
@media only screen and (max-width: 480px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}

.bodys-menu {
  background: url(/img/fondo_menu.png) no-repeat center center;
  background-size: cover;
  padding-top: 5rem;
  height: 69rem;
}

h1 {
  font-family: "Lilita One", sans-serif;
  color: #990000;
}

h3 {
  font-family: "Lilita One", sans-serif;
  font-size: 1rem;
  padding: 0.875rem;
}

p {
  font-family: "Hedvig Letters Serif", serif;
  font-size: 1rem;
  padding: 0.375rem;
}

.p__title {
  font-family: "Hedvig Letters Serif", serif;
  font-size: 1.875rem;
  text-align: center;
}

.p {
  font-family: "Hedvig Letters Serif", serif;
  font-size: 1rem;
  padding: 0.375rem;
}
@media only screen and (max-width: 480px) {
  .p {
    font-family: "Hedvig Letters Serif", serif;
    font-size: 0.76rem;
    padding: 40px;
    padding-bottom: -40px;
    padding-right: 20px;
    white-space: normal;
    width: 100%;
    transform-origin: left;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .p {
    font-family: "Hedvig Letters Serif", serif;
    font-size: 0.76rem;
    padding: 20px;
    white-space: normal;
    width: 100%;
    transform-origin: left;
  }
}

.button {
  font-size: 3.125rem;
  padding: 0.5rem 1rem;
  margin-left: 25rem;
  color: #ffffff;
  font-family: "Lilita One", sans-serif;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.login-form button {
  width: 15.625rem;
  height: auto;
  padding: 0.625rem 1.25rem;
  border: none;
  background-color: #000000;
  color: #fff;
  font-family: "Lilita One", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .login-form button {
    width: 14rem;
    font-size: 0.76rem;
  }
}

.login-form button:hover {
  background-color: #cc0000;
}

.instruction-item {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 0;
  margin: 0 0.9375rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 480px) {
  .instruction-item {
    width: 100%;
    margin-bottom: 2rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .instruction-item {
    display: flex;
    flex-direction: column;
    padding: 0rem;
    margin-bottom: 2rem;
    width: 90%;
  }
}

.image-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 480px) {
  .image-box {
    order: -1;
    margin-bottom: 1rem;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .image-box {
    order: -1;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.instruction-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c8b882;
  border: 1px solid #cccccc;
  padding: 0.625rem;
  margin-bottom: 0;
  width: 100%;
}

.instruction-image-box img {
  max-width: 94%;
  height: 8.75rem;
  padding: 0.9375rem;
  margin-top: 2.5rem;
}

.instruction-text-box {
  background-color: #464524;
  border: 1px solid #cccccc;
  padding: 0.9375rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 19.5rem;
  color: white;
}
@media only screen and (max-width: 480px) {
  .instruction-text-box {
    height: 17rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .instruction-text-box {
    background-color: #464524;
    border: 1px solid #cccccc;
    padding: 0.9375rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: auto;
    color: white;
  }
}

.history-box {
  flex: 1;
  padding-right: 19rem;
  padding-left: 10rem;
  margin: 1rem;
}
@media only screen and (max-width: 480px) {
  .history-box {
    flex: 1;
    margin: 4rem;
    text-align: left;
    width: 100%;
    padding: 0 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .history-box {
    flex: 1;
    margin: 2rem;
    text-align: left;
    width: 100%;
    padding: 0 1rem;
  }
}

.menu-icons {
  display: flex;
}

.menu-icons a {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 1.25rem;
  color: #000000;
  font-size: 0.9rem;
}
@media only screen and (max-width: 480px) {
  .menu-icons a {
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    position: fixed;
    top: 134px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 134px);
    z-index: 10;
    overflow-y: auto;
  }
}

.menu-icons img {
  height: 2.875rem;
  width: auto;
  margin-right: 0.625rem;
}
@media only screen and (max-width: 480px) {
  .menu-icons img {
    height: 1.875rem;
    width: auto;
    margin-right: 0.625rem;
  }
}

.menu-icons a:hover {
  color: #970000;
}

.menu-icons a:hover img {
  filter: brightness(0.8);
}

.footer-icons {
  display: flex;
}
@media only screen and (max-width: 480px) {
  .footer-icons {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .footer-icons {
    display: flex;
    justify-content: center;
  }
}

.footer-icons .icon-link {
  margin-left: 0.625rem;
  color: #ffffff;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
@media only screen and (max-width: 480px) {
  .footer-icons .icon-link {
    margin: 0 0.5rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .footer-icons .icon-link {
    margin: 0 0.5rem;
  }
}

.footer-icons img {
  height: 2rem;
  width: auto;
  filter: brightness(1.2);
}

.footer-icons .icon-link:hover img {
  filter: brightness(0.8);
}

.login-form {
  background-color: #ffffff;
  padding: 2rem;
  color: #000;
  width: 100%;
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 480px) {
  .login-form {
    padding: 1rem;
    max-width: 90%;
    margin-top: -2rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .login-form {
    padding: 1rem;
    max-width: 100%;
    margin-top: -2rem;
  }
}

.login-form label {
  font-family: "Lilita One", sans-serif;
  font-size: 1rem;
  display: block;
  margin-bottom: 0.3125rem;
}
@media only screen and (max-width: 480px) {
  .login-form label {
    font-size: 0.76rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .login-form label {
    font-size: 0.76rem;
  }
}

.login-form input {
  padding: 0.625rem;
  margin-bottom: 1.25rem;
  border: 1px solid #cccccc;
  font-size: 1rem;
}
@media only screen and (max-width: 480px) {
  .login-form input {
    font-size: 0.76rem;
  }
}

.game-section {
  background: url(../img/header.png) no-repeat center center;
  background-size: cover;
  padding: 6.25rem 0;
  margin: 0;
  height: 100vh;
  text-align: center;
  position: relative;
}
@media only screen and (max-width: 480px) {
  .game-section {
    background: url(../img/header.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 26rem;
    margin-left: 0;
    margin-right: 0;
  }
}

.header_menu {
  background-color: #fafafa;
  padding: 1rem;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
  width: 35%;
  padding-top: 173px;
}

.header_page {
  padding: 1.5rem 1.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  font-family: "Lilita One", sans-serif;
  height: 17rem;
}
@media only screen and (max-width: 480px) {
  .header_page {
    flex-direction: column;
    padding: 1rem;
    height: auto;
    margin-top: -2rem;
  }
}

.header-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  font-family: "Lilita One", sans-serif;
}
@media only screen and (max-width: 480px) {
  .header-content {
    padding: 8rem;
    margin: -5rem;
    text-align: center;
    position: relative;
    z-index: 1;
  }
}

.header-logo {
  height: 9.375rem;
}
@media only screen and (max-width: 480px) {
  .header-logo {
    position: relative;
    top: 0;
    left: -4rem;
    width: 5rem;
    padding: 0.5rem;
    height: auto;
  }
}

footer {
  background-color: black;
  padding: 2.5rem 3.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 3.125rem solid #000000;
}
@media only screen and (max-width: 480px) {
  footer {
    padding: 2rem 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  footer {
    padding: 1rem;
  }
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
@media only screen and (max-width: 480px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer-logo {
  height: 7.5rem;
}
@media only screen and (max-width: 480px) {
  .footer-logo {
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .footer-logo {
    margin-bottom: 1rem;
  }
}

.footer-text {
  font-size: 0.76rem;
  color: #ffffff;
  margin-left: 0.625rem;
}

.top-nav {
  font-family: "Lilita One", sans-serif;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
@media only screen and (max-width: 480px) {
  .top-nav {
    display: none;
  }
}

.nav-list-link {
  font-size: 5.125rem;
  text-decoration: none;
  font-family: "Lilita One", sans-serif;
  color: #ffffff;
  transition: all 0.3s ease;
}
.nav-list-link:hover {
  color: #000000;
  transform: scale(1.1);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}
@media only screen and (max-width: 480px) {
  .nav-list-link {
    display: none;
  }
}
@media only screen and (min-width: 481px) and (max-width: 924px) and (orientation: landscape) {
  .nav-list-link {
    font-size: 1.125rem;
    text-decoration: none;
    font-family: "Lilita One", sans-serif;
    color: #ffffff;
    transition: all 0.3s ease;
  }
}

@media only screen and (max-width: 480px) {
  .menu-icons {
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    overflow-y: auto;
  }
  .menu-icons.active {
    display: flex;
  }
  .menu-icons a {
    margin-top: 1.6rem;
    font-size: 1rem;
    padding: 0.5rem 0 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    color: #000000;
  }
  .menu-icons a::after {
    content: "";
    display: block;
    height: 0.0625rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .menu-icons img.icons {
    margin-right: 0.5rem;
    width: 1.25rem;
    height: 1.25rem;
  }
  .menu-icons img {
    width: 1.5rem;
    height: 1.5rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .menu-icons {
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    overflow-y: auto;
  }
  .menu-icons.active {
    display: flex;
  }
  .menu-icons a {
    margin-top: 4.6rem;
    font-size: 1rem;
    padding: 0.5rem 0 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    color: #000000;
  }
  .menu-icons .menu-icons a::after {
    content: "";
    display: block;
    height: 0.0625rem;
    width: 70%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .menu-icons .menu-icons img {
    height: 1.875rem;
    width: auto;
    margin-right: 0.625rem;
  }
  .menu-icons .menu-icons a:hover {
    color: #970000;
  }
  .menu-icons .menu-icons a:hover img {
    filter: brightness(0.8);
  }
}

.menu-hamburger {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .menu-hamburger {
    display: block;
    position: absolute;
    top: 8rem;
    right: 6rem;
    z-index: 20;
    overflow: hidden;
  }
}
@media only screen and (max-width: 480px) {
  .menu-hamburger {
    display: block;
    position: absolute;
    top: 9rem;
    right: 2rem;
    z-index: 20;
    overflow: hidden;
  }
  .menu-hamburger .link {
    display: block;
    margin-top: 2rem;
    text-align: center;
    color: #000000;
    text-decoration: none;
    font-family: "Lilita One", sans-serif;
  }
}
.menu-hamburger .link:hover {
  text-decoration: underline; /* Agrega un subrayado cuando pasas el mouse */
}
.menu-hamburger .footer-text a {
  color: #ffffff;
  text-decoration: none;
}
.menu-hamburger .footer-text a:hover {
  text-decoration: underline;
}

.title-controls {
  font-size: 3.75rem;
  text-align: center;
  margin-bottom: 1rem;
  font-family: "Lilita One", sans-serif;
}

.image-controls {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.main_controls {
  margin-top: 300px;
  background: url(../img/Keys.png) no-repeat center;
  padding-bottom: 30rem;
  background-size: contain;
}

.title {
  font-size: 3.125rem;
  text-align: center;
  padding-top: 0rem;
  margin-top: -11.25rem;
  color: #ffffff;
}

.main_credits {
  background-color: #cccc99;
  border-radius: 10px;
  padding: 8rem;
  text-align: center;
  width: 40%;
  margin: 0 auto;
}

.credits-container {
  background-color: #ffffff;
  max-width: 43.75rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
@media only screen and (max-width: 480px) {
  .credits-container {
    background-color: #ffffff;
    max-width: 43.75rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 1.5rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .credits-container {
    background-color: #ffffff;
    max-width: 50%;
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.credits-container h2 {
  font-family: "Lilita One", sans-serif;
  margin-bottom: 1.25rem;
}
@media only screen and (max-width: 480px) {
  .credits-container h2 {
    font-family: "Lilita One", sans-serif;
    margin-bottom: 0.5rem;
    font-size: 0.76rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .credits-container h2 {
    font-family: "Lilita One", sans-serif;
    margin-bottom: 0.5rem;
    font-size: 0.76rem;
  }
}

.title-text {
  color: #000;
  font-family: "Hedvig Letters Serif", serif;
  font-size: 1.875rem;
}
@media only screen and (max-width: 480px) {
  .title-text {
    color: #000;
    font-family: "Hedvig Letters Serif", serif;
    font-size: 0.75rem;
    margin: 0.25rem 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .title-text {
    color: #000;
    font-family: "Hedvig Letters Serif", serif;
    font-size: 0.75rem;
    margin: 0.25rem 0;
  }
}

.credits-section {
  position: absolute;
  align-content: center;
  top: 49%;
  right: 0;
  transform: translateY(-50%);
  width: 65rem;
  height: 76rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 6.25rem;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .credits-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    padding: 2rem 0;
    width: 100%;
    max-width: 65rem;
    margin: 0 auto;
    height: auto;
    min-height: 60vh;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .credits-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 2rem;
    margin-bottom: 4rem;
    text-align: center;
    width: 102%;
    height: 32rem;
  }
}

.instructions {
  display: flex;
  justify-content: center;
  padding: 5rem;
  background-color: #ffffff;
}
@media only screen and (max-width: 480px) {
  .instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 54px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

.instructions-title {
  color: rgb(0, 0, 0);
  font-size: 1.25rem;
  font-family: "Lilita One", sans-serif;
  text-align: center;
  padding-top: 5.625rem;
}
@media only screen and (max-width: 480px) {
  .instructions-title {
    padding: 1rem;
    margin-bottom: 1rem;
    margin-right: 0;
    padding-top: 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .instructions-title {
    padding: 1rem;
    margin-bottom: 1rem;
    padding-top: 20px;
  }
}

.title-history {
  font-size: 1.875rem;
  margin-top: 20px;
  margin-bottom: 0.5rem;
  margin-left: -7px;
  color: #ffffff;
}
@media only screen and (max-width: 480px) {
  .title-history {
    font-size: 1.875rem;
    margin-top: 20px;
    margin-bottom: 0.5rem;
    margin-left: 25px;
    color: #ffffff;
  }
}

.history-section {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  padding: 60px;
  background-color: #43140c;
}
@media only screen and (max-width: 480px) {
  .history-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    background-color: #43140c;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .history-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background-color: #43140c;
    width: 100%;
  }
}

.history-box p {
  color: #ffffff;
  size: 1rem;
}
@media only screen and (max-width: 480px) {
  .history-box p {
    color: #ffffff;
    font-size: 0.76rem;
    padding-top: 20px;
    margin-bottom: -4rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .history-box p {
    color: #ffffff;
    font-size: 0.76rem;
    padding-top: 20px;
    margin-bottom: 0rem;
  }
}

.history-box button {
  color: #ffffff;
  size: 1rem;
}

.history-box h2 {
  color: #ffffff;
  font-size: 1.875rem;
  margin-bottom: 0.5rem;
}
@media only screen and (max-width: 480px) {
  .history-box h2 {
    font-size: 1.875rem;
    margin-top: 20px;
    margin-bottom: 0.5rem;
    margin-left: 25px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .history-box h2 {
    font-size: 0.76rem;
    margin-top: 10px;
    margin-bottom: 0.5rem;
  }
}

.character-image {
  max-width: 40%;
  height: auto;
  border-radius: 0.625rem;
}
@media only screen and (max-width: 480px) {
  .character-image {
    max-width: 49%;
    height: auto;
    padding: 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .character-image {
    max-width: 70%;
    height: auto;
    padding: 1rem;
  }
}

.login-section {
  background: url(../img/header.png) no-repeat center center;
  background-size: cover;
  margin: 0;
  height: 100vh;
  text-align: center;
  position: relative;
}

.login-container {
  position: absolute;
  align-content: center;
  top: 49%;
  right: 0;
  transform: translateY(-50%);
  width: 65rem;
  height: 76rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 6.25rem;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .login-container {
    position: absolute;
    top: 0.1%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 3rem;
    height: 51rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .login-container {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 2rem;
    height: 100%;
  }
}

.login-form h2 {
  font-family: "Lilita One", sans-serif;
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 1.25rem;
}
@media only screen and (max-width: 480px) {
  .login-form h2 {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .login-form h2 {
    font-size: 1rem;
  }
}

.orientation-message {
  display: none;
}
@media only screen and (max-width: 480px) {
  .orientation-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 50, 101, 0.9);
    z-index: 1000;
    text-align: center;
    font-size: 1.875rem;
    font-family: "Lilita One", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
  }
  .orientation-message.background-blur {
    filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999; /* Just below the orientation message */
  }
  .orientation-message .bodys-menu {
    height: 100vh;
  }
  .orientation-message .bodys-menu.controls {
    display: none;
  }
  .orientation-message .bodys-menu .logo,
  .orientation-message .bodys-menu .top-nav {
    display: none;
  }
}

.bodys-menu {
  background: url(../img/fondo_menu.png) no-repeat center center;
  background-size: cover;
  padding-top: 5rem;
  height: 113vh;
}
@media only screen and (max-width: 480px) {
  .bodys-menu {
    display: block;
  }
  .bodys-menu.logo {
    display: block;
    margin: 0 auto 2rem;
    width: 30%;
    padding-top: 81px;
  }
  .bodys-menu .top-nav {
    font-family: "Lilita One", sans-serif;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .bodys-menu .nav-list-link {
    font-size: 1.25rem;
    text-decoration: none;
    font-family: "Lilita One", sans-serif;
    color: #ffffff;
    transition: all 0.3s ease;
  }
  .bodys-menu .nav-list-link:hover {
    color: #000000;
    transform: scale(1.1);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .bodys-menu {
    display: block;
  }
  .bodys-menu.controls {
    display: none;
  }
  .bodys-menu .logo {
    display: block;
    margin: 0 auto 2rem;
    width: 35%;
    padding-top: 49px;
  }
  .bodys-menu .top-nav {
    font-family: "Lilita One", sans-serif;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .bodys-menu .nav-list-link {
    font-size: 1.25rem;
    text-decoration: none;
    font-family: "Lilita One", sans-serif;
    color: #ffffff;
    transition: all 0.3s ease;
  }
  .bodys-menu .nav-list-link:hover {
    color: #000000;
    transform: scale(1.1);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  }
}
@media only screen and (min-width: 481px) and (max-width: 924px) and (orientation: landscape) {
  .bodys-menu .logo {
    display: block;
    margin: 0 auto 2rem;
    width: 10%;
    padding-top: 1rem;
  }
  .bodys-menu .menu-section,
  .bodys-menu .buttons {
    display: block;
  }
  .bodys-menu .orientation-message {
    display: none;
  }
}

.ranking-container {
  position: absolute;
  align-content: center;
  top: 49%;
  right: 0;
  transform: translateY(-50%);
  width: 65rem;
  height: 76rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 6.25rem;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .ranking-container {
    background-color: #ffffff;
    max-width: 43.75rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 1.5rem;
    height: 28rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .ranking-container {
    max-width: 100%;
    padding: 1rem;
    height: 34rem;
  }
}

.ranking-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.25rem;
}
@media only screen and (max-width: 480px) {
  .ranking-table {
    background-color: #ffffff;
    max-width: 29.75rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 1.5rem;
    height: 9rem;
    margin-left: 19rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .ranking-table {
    padding: 0.4rem;
    font-size: 0.75rem;
  }
}

.title-ranking {
  font-size: 1.875rem;
  margin-top: 20px;
  margin-bottom: 0.5rem;
  margin-left: 17.188rem;
  color: #000000;
  font-family: "Lilita One", sans-serif;
}

.ranking-table th,
.ranking-table td {
  border: none;
  padding: 0.625rem;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .ranking-table th,
  .ranking-table td {
    padding: 0.4rem;
    font-size: 0.875rem;
  }
}

.ranking-table th {
  background-color: #f4f4f4;
  font-weight: bold;
  font-family: "Lilita One", sans-serif;
  font-size: 1rem;
}

.ranking-table td {
  font-family: "Hedvig Letters Serif", serif;
  font-size: 1rem;
}

/*# sourceMappingURL=main.css.map */
