$ff-title: "Lilita One", sans-serif;
$ff-parrafo: "Hedvig Letters Serif", serif;

$crl-logo: #990000;
$crl-menu: #000000;
$crl-title: #ffffff;
$crl-main: #cccc99;
$crl-low-green: #464524;
$crl-menu: #ffffff;
$crl-hover: #000000;

$color-white: #ffffff; // Color blanco para usar en texto
$color-black: #000000; // Color negro para usar en texto
$color-light-gray: #cccccc; // Color gris claro para bordes
$color-brown: #c8b882; // Color de fondo de la caja de imágenes

$logo-margin-bottom: 1rem;
$fs-xs: 0.76rem; // 14
$fs-nm: 1rem; // 16
$fs-xnm: 1.25rem; // 20
$fs-md: 1.875rem; // 30
$fs-xmd: 2.5rem; // 40
$fs-xxmd: 3.125rem; // 50
$fs-lg: 3.75rem; // 60
$fs-xl: 4rem; // 70
$fs-xxl: 5rem; // 80
$fs-gt: 6.25rem; // 100
$fs-xgt: 7.5rem; // 120

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title-history {
  font-size:$fs-md;
  margin-top: 20px;
  margin-bottom: 0.5rem;
  margin-left: 25px;
  color: #ffffff;
  
}
.bodys-menu {
  background: url(/img/fon.png) no-repeat center center;
  background-size: cover;
  padding-top: 5rem;
  height: 69rem;
}

h1 {
  font-family: $ff-title;
  color: $crl-logo;
}

h3 {
  font-family: $ff-title;
  font-size: $fs-nm;
  padding: 0.875rem; // 14px
}

.p__title {
  font-family: $ff-parrafo;
  font-size: $fs-md;
  text-align: center;
}

.menu-hamburger {
  display: none;
}
.header_menu {
  background-color: #fafafa;
  padding: 1rem;
}

.logo {
  display: block;
  margin: 0 auto 2rem; // Ajusta el margen inferior
  width: 30%;
  padding-top: 250px;
}
.title-controls {
  font-size: $fs-lg;
  text-align: center;
  margin-bottom: 1rem;
  font-family: $ff-title;
}

.image-controls {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.top-nav {
  font-family: $ff-title;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.nav-list-link {
  font-size: $fs-xxmd;
  text-decoration: none;
  font-family: $ff-title;
  color: $crl-menu;
  transition: all 0.3s ease;

  &:hover {
    color: $crl-hover;
    transform: scale(1.1);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  }
}

.button {
  font-size: 3.125rem;
  padding: 0.5rem 1rem;
  margin-left: 25rem;
  color: #ffffff;
  font-family: "Lilita One", sans-serif;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}


.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: $crl-title;
}

.main_controls {
  margin-top: 300px;
  background: url(../img/Keys.png) no-repeat center;
  padding-bottom: 30rem;
  background-size: contain;
}

.title {
  font-size: $fs-xxmd;

  text-align: center;
  padding-top: 0rem;
  margin-top: -11.25rem; // -180px
  color: $crl-title;
}

h2 {
  font-family: $ff-title;
  font-size: $fs-md;
  padding: 0px;
}

p {
  font-family: $ff-parrafo;
  font-size: $fs-xs;
  padding: 0.375rem; // 6px
}
.p {
  font-family: $ff-parrafo;
  font-size: $fs-xs;
  padding: 0.375rem; // 6pxpx
}

.main_credits {
  background-color: $crl-main;
  border-radius: 10px;
  padding: 8rem; // 128px
  text-align: center;
  width: 40%;
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: $crl-title;
}

.header_page {
  padding: 1.5rem 1.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Lilita One", sans-serif;
}
.header_menu {
  padding: 3.5rem 3.125rem; // 40px 50px

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $ff-title;
}

.header-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  font-family: $ff-title;
}

.header-logo {
  height: 9.375rem; // Cambiado de 12.5rem a 9.375rem
}

.menu-icons {
  display: flex;
}

.menu-icons a {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 1.25rem; // 20px
  color: $color-black;
  font-size: 0.9em;
}

.menu-icons img {
  height: 1.875rem;
  width: auto;
  margin-right: 0.625rem;
}

.menu-icons a:hover {
  color: #970000;
}

.menu-icons a:hover img {
  filter: brightness(0.8);
}

.game-section {
  background: url(../img/header.png) no-repeat center center;
  background-size: cover;
  padding: 6.25rem 0; // 100px
  margin: 0;
  height: 100vh;
  text-align: center;
  position: relative;
}

.login-section {
  background: url(../img/header.png) no-repeat center center;
  background-size: cover;
  margin: 0;
  height: 100vh;
  text-align: center;
  position: relative;
}

.instructions {
  display: flex;
  justify-content: center;
  padding: 5rem; // 80px
  background-color: #ffffff;
}

.instructions-title {
  color: black;
  font-size: $fs-xnm;
  font-family: $ff-title;
  text-align: center;
  padding-top: 5.625rem;
}

.instruction-item {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 0;
  margin: 0 0.9375rem; // 15px
}

.instruction-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c8b882;
  border: 1px solid #cccccc;
  padding: 0.625rem; // 10px
  margin-bottom: 0;
}

.instruction-image-box img {
  max-width: 60%;
  height: 8.75rem; // 140px
  padding: 0.9375rem; // 15px
  margin-top: 2.5rem; // 40px
}

.instruction-text-box {
  background-color: #464524;
  border: 1px solid #cccccc;
  padding: 0.9375rem; // 15px
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 12.5rem; // 200px
  color: white;
}

.history-section {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  padding: 60px;
  background-color: #43140c;
}
.history-box {
  flex: 1;
  padding-right: 19rem;
  padding-left: 10rem;
  margin: 1rem;
}
.history-box p,
.history-box button {
  color: $color-white;
  size: $fs-nm;
}
.history-box h2 {
  color: $color-white;
  font-size: $fs-md;
  margin-bottom: 0.5rem; // 10px
}
.link {
  display: block;
  margin-top: 2rem;
  text-align: center;
  color: #000000;
  text-decoration: none;
  font-family: $ff-title;
}

.link:hover {
  text-decoration: underline; /* Agrega un subrayado cuando pasas el mouse */
}

.image-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-image {
  max-width: 40%;
  height: auto;
  border-radius: 0.625rem; // 10px
}

footer {
  background-color: black;
  padding: 2.5rem 3.75rem; // 40px 60px
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 3.125rem solid #000000; // 50px
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.footer-logo {
  height: 7.5rem;
}

.footer-icons {
  display: flex;
}

.footer-icons .icon-link {
  margin-left: 0.625rem; // 10px
  color: $color-white;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

.footer-icons img {
  height: 2rem;
  width: auto;
  filter: brightness(1.2);
}

.footer-icons .icon-link:hover img {
  filter: brightness(0.8);
}

.footer-text {
  font-size: $fs-xs;
  color: $color-white;
  margin-left: 0.625rem; // 10px
}
.orientation-message {
  display: none;
}

.footer-text a {
  color: $color-white;
  text-decoration: none;
}

.footer-text a:hover {
  text-decoration: underline;
}

.login-container {
  position: absolute;
  align-content: center;
  top: 49%;
  right: 0;
  transform: translateY(-50%);
  width: 65rem;
  height: 76rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 6.25rem;
  text-align: center;
}

.login-form {
  background-color: #ffffff;
  padding: 2rem;
  color: #000;
  width: 100%;
  max-width: 25rem; // 400px
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form h2 {
  font-family: "Lilita One", sans-serif;
  font-size: $fs-xnm;
  text-align: center;
  margin-bottom: 1.25rem; // 20px
}

.login-form label {
  font-family: $ff-title;
  font-size: $fs-nm;
  display: block;
  margin-bottom: 0.3125rem; // 5px
}

.login-form input {
  padding: 0.625rem; // 10px
  margin-bottom: 1.25rem; // 20px
  border: 1px solid #cccccc;
  font-size: 1rem;
}

.login-form button {
  width: 15.625rem; // 250px
  height: auto;
  padding: 0.625rem 1.25rem; // 10px 20px
  border: none;
  background-color: #000000;
  color: #fff;
  font-family: "Lilita One", sans-serif;
  font-size: $fs-nm;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.login-form button:hover {
  background-color: #cc0000;
}

.credits-container {
  background-color: $crl-title;
  max-width: 43.75rem; // 700px
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.credits-container h2 {
  font-family: $ff-title;
  margin-bottom: 1.25rem; // 20px
}

.title-credits {
  color: #000;
  font-family: $ff-title;
  font-size: $fs-md;
}

.title-text {
  color: #000;
  font-family: $ff-parrafo;
  font-size: $fs-md;
}

.credits-section {
  position: absolute;
  align-content: center;
  top: 49%;
  right: 0;
  transform: translateY(-50%);
  width: 65rem;
  height: 76rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 6.25rem;
  text-align: center;
}
.ranking-container {
  position: absolute;
  align-content: center;
  top: 49%;
  right: 0;
  transform: translateY(-50%);
  width: 65rem;
  height: 76rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 6.25rem;
  text-align: center;
}

.ranking-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.25rem; // 20px
}

.ranking-table th,
.ranking-table td {
  border: none;
  padding: 0.625rem; // 10px
  text-align: center;
}

.ranking-table th {
  background-color: #f4f4f4;
  font-weight: bold;
  font-family: $ff-title;
  font-size: $fs-nm;
}

.ranking-table td {
  font-family: $ff-parrafo;
  font-size: $fs-nm;
}

@media (max-width: 576px) {
  * {
    box-sizing: border-box;
  }
  .header_page {
    padding: 1.5rem 1.125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-white;
    font-family: "Lilita One", sans-serif;
    height: 9rem;
  }

  .menu-icons {
    display: none;
    flex-direction: column;
    background-color: $color-white;
    position: fixed;
    top: 134px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 134px);
    z-index: 10;
    overflow-y: auto;
  }

  .menu-icons.active {
    display: flex;
  }

  body.menu-active {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .menu-icons a {
    margin-top: 1.3rem;
    font-size: 0.9em;
    padding: 0.5rem 0 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .menu-icons a::after {
    content: "";
    display: block;
    height: 0.0625rem;
    background-color: $color-white;
    width: 70%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .menu-icons img {
    height: 1.875rem;
    width: auto;
    margin-right: 0.625rem;
  }

  .menu-icons a:hover {
    color: #970000;
  }

  .menu-icons a:hover img {
    filter: brightness(0.8);
  }
  .header-content {
    padding: 3rem;
    margin: auto;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  .game-section {
    background: url(../img/header.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 20rem;
    margin-left: 0;
    margin-right: 0;
  }
  .menu-hamburger {
    display: block;
    position: absolute;
    top: 0rem;
    right: 1rem;
  }

  .header-logo {
    position: absolute;
    top: 0rem;
    left: 1rem;
    width: 7rem;
    padding: 1rem;
    height: auto;
  }

  .instructions-title {
    padding: 1rem;
    margin-bottom: 1rem;
    margin-right: 0;
    padding-top: 40px;
  }

  .instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .instruction-item {
    display: flex;
    flex-direction: column;
    padding: 0rem;
    margin-bottom: 2rem;
    width: 290px;
  }

  .p {
    font-family: $ff-parrafo;
    font-size: $fs-xs;
    padding: 40px;
    padding-bottom: -40px;
    padding-right: 20px;
    white-space: normal;
    width: 100%;
    transform-origin: left;
  }

  .instruction-text-box {
    background-color: #464524;
    border: 1px solid #cccccc;
    padding: 0.9375rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 17rem;
    color: white;
  }

  .history-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    background-color: #43140c;
    width: 100%;
  }

  .image-box {
    order: -1;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .character-image {
    max-width: 70%;
    height: auto;
    padding: 1rem;
  }

  .history-box {
    flex: 1;
    margin: 4rem;
    text-align: left;
    width: 100%;
    padding: 0 1rem;
  }
  .history-box h2 {
    font-size:$fs-md;
    margin-top: 20px;
    margin-bottom: 0.5rem;
    margin-left: 25px;
}
.title-history {
  font-size:$fs-md;
  margin-top: 20px;
  margin-bottom: 0.5rem;
  margin-left: 25px;
  color: #ffffff;
  
}

  .history-box p {
    color: #ffffff;
    font-size: 0.76rem;
    padding-top: 20px;
    margin-bottom: -4rem;
  }

  footer {
    padding: 2rem 0;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-logo {
    margin-bottom: 1rem;
  }

  .footer-icons {
    display: flex;
    justify-content: center;
  }

  .footer-icons .icon-link {
    margin: 0 0.5rem;
  }
  .login-container {
    position: absolute;
    top: 0.1%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 3rem;
    height: 51rem;
  }
  .login-form {
    padding: 1rem;
    max-width: 90%;
    margin-top: -2rem;
  }
  .login-form h2 {
    font-size: $fs-nm;
  }

  .login-form label {
    font-size: $fs-xs;
  }

  .login-form input {
    font-size: $fs-xs;
  }

  .login-form button {
    width: 100%;
    font-size: $fs-xs;
  }

  .credits-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    padding: 2rem 0;
    width: 100%;
    max-width: 65rem;
    margin: 0 auto;
    height: auto;
    min-height: 60vh;
  }

  .credits-container {
    background-color: $crl-title;
    max-width: 43.75rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 1.5rem;
  }
  .credits-container h2 {
    font-family: $ff-title;
    margin-bottom: 0.5rem;
    font-size: $fs-xs;
  }

  .title-credits,
  .title-text {
    color: #000;
    font-family: $ff-parrafo;
    font-size: 0.75rem;
    margin: 0.25rem 0;
  }
  .ranking-container {
    background-color: $crl-title;
    max-width: 43.75rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 1.5rem;
  }

  .ranking-table th,
  .ranking-table td {
    padding: 0.4rem;
    font-size: 0.875rem;
  }

  .orientation-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 50, 101, 0.9);
    z-index: 1000;
    text-align: center;
    font-size: $fs-md;
    font-family: $ff-title;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
  }

  .background-blur {
    filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999; /* Just below the orientation message */
  }
  .bodys-menu {
    height: 100vh;
  }

  .nav-list-link {
    font-size: 2rem;
    text-decoration: none;
    font-family: "Lilita One", sans-serif;
    color: #ffffff;
    transition: all 0.3s ease;
  }
  .logo,
  .top-nav {
    display: none;
  }
}

@media (max-width: 900px) and (orientation: landscape) {
  .orientation-message {
    display: none;
  }
  .bodys-menu {
    background: url(../img/fondo_menu.png) no-repeat center center;
    background-size: cover;
    padding-top: 0.001rem;
    height: 280px;
  }

  .logo {
    display: block;
    margin: 0 auto 2rem;
    width: 20%;
    padding-top: 60px;
  }
  .top-nav {
    font-family: $ff-title;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .nav-list-link {
    font-size: $fs-xnm;
    text-decoration: none;
    font-family: $ff-title;
    color: $crl-menu;
    transition: all 0.3s ease;

    &:hover {
      color: $crl-hover;
      transform: scale(1.1);
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }
  }
  .controls {
    display: none;
  }
}

@media (max-width: 767.98px) {
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; // Evita el desbordamiento horizontal
  }

  .menu-icons {
    display: none;
    flex-direction: column;
    background-color: $color-white;
    position: fixed;
    top: 134px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 134px);
    z-index: 10;
    overflow-y: auto;
  }

  .menu-icons.active {
    display: flex;
  }

  body.menu-active {
    position: fixed; // Bloquea el desplazamiento de la página
    width: 100%; // Evita cambios de ancho
    height: 100vh; // Ocupa toda la altura de la ventana
    overflow: hidden; // Desactiva el desplazamiento
  }

  .menu-icons a {
    margin: 1rem 0; // Espaciado vertical
    font-size: $fs-nm; // Tamaño de fuente ajustado
    padding: 0.5rem; // Padding vertical
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .menu-icons a::after {
    content: "";
    display: block;
    height: 0.0625rem;
    width: 70%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%; // Centrado
    transform: translateX(-50%);
  }

  .menu-icons img {
    height: 1.875rem; // Tamaño del ícono
    width: auto;
    margin-right: 0.625rem;
  }

  .menu-icons a:hover {
    color: #970000;
  }

  .menu-icons a:hover img {
    filter: brightness(0.8);
  }

  .header-content {
    padding: 1rem; // Ajuste de padding
    margin: auto;
    text-align: center;
    position: relative;
    z-index: 1;
  }

  .game-section {
    background: url(../img/header.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 27rem;
    margin: 0;
  }

 .menu-hamburger {
    display: block;
    position: absolute;
    top: 1rem;  // Aumenta el valor de top para bajarlo
    right: 1rem;
}


  .header-logo {
    position: absolute;
    top: -0.5rem;
    left: 1rem;
    width: 7rem;
    padding: 1rem;
    height: auto;
  }
  .instructions-title {
    padding: 1rem;
    margin-bottom: 1rem;
    padding-top: 20px; // Ajustado
  }

  .instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .instruction-item {
    display: flex;
    flex-direction: column;
    padding: 0rem;
    margin-bottom: 2rem;
    width: 90%; // Ajuste para pantallas pequeñas
  }

  .p {
    font-family: $ff-parrafo;
    font-size: $fs-xs; // Tamaño de fuente ajustado
    padding: 20px; // Ajustado
    white-space: normal;
    width: 100%;
    transform-origin: left;
  }

  .instruction-text-box {
    background-color: #464524;
    border: 1px solid #cccccc;
    padding: 0.9375rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: auto; // Ajustado
    color: white;
  }

  .history-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background-color: #43140c;
    width: 100%;
  }

  .image-box {
    order: -1;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .character-image {
    max-width: 70%;
    height: auto;
    padding: 1rem;
  }

  .history-box {
    flex: 1;
    margin: 2rem; // Ajuste para pantallas pequeñas
    text-align: left;
    width: 100%;
    padding: 0 1rem;
  }

  .history-box h2 {
    font-size: $fs-xs;
    margin-top: 10px; // Ajustado
    margin-bottom: 0.5rem;
  }

  .history-box p {
    color: #ffffff;
    font-size: 0.76rem;
    padding-top: 20px;
    margin-bottom: 0rem;
}
  footer {
    padding: 1rem; // Ajuste de padding
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-logo {
    margin-bottom: 1rem;
  }

  .footer-icons {
    display: flex;
    justify-content: center;
  }

  .footer-icons .icon-link {
    margin: 0 0.5rem;
  }

  .login-container {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 2rem;
    height: 100%;
  }

  .login-form {
    padding: 1rem;
    max-width: 100%; // Ajustado
    margin-top: -2rem;
  }

  .login-form h2 {
    font-size: $fs-nm; // Ajustado
  }

  .login-form label {
    font-size: $fs-xs; // Ajustado
  }

  .login-form input {
    font-size: $fs-xs; // Ajustado
  }

  .login-form button {
    width: 14rem;
    font-size: 0.76rem;
  }

  .credits-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 2rem;
    margin-bottom: 4rem;
    text-align: center;
    width: 102%;
    height: 32rem;
  }

  .credits-container {
    background-color: $crl-title;
    max-width: 50%; // Mantener el tamaño más pequeño
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .credits-container h2 {
    font-family: $ff-title;
    margin-bottom: 0.5rem;
    font-size: $fs-xs; // Mantiene el tamaño de fuente
  }

  .title-credits,
  .title-text {
    color: #000;
    font-family: $ff-parrafo;
    font-size: 0.75rem; // Mantiene el tamaño de fuente
    margin: 0.25rem 0;
  }

  .ranking-container {
    max-width: 100%;
    padding: 1rem;
    height: 34rem;
  }

  .ranking-table th,
  .ranking-table td {
    padding: 0.4rem;
    font-size: 0.75rem; // Tamaño de fuente ajustado
  }

  .orientation-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 50, 101, 0.9);
    z-index: 1000;
    text-align: center;
    font-size: $fs-md; // Ajustado
    font-family: $ff-title;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
  }

  .background-blur {
    filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999; /* Justo debajo del mensaje de orientación */
  }

  .bodys-menu {
    height: 100vh;
  }

  .nav-list-link {
    font-size: 1.5rem; // Ajustado
    text-decoration: none;
    font-family: "Lilita One", sans-serif;
    color: #ffffff;
    transition: all 0.3s ease;
  }

  .logo,
  .top-nav {
    display: none;
  }

  .top-nav.active,
  .logo.active {
    display: flex;
  }
  .header-content {
    padding: 1rem;
    margin: auto;
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 3rem;
}
}
