@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

footer {
  background-color: black;
  padding: 2.5rem 3.75rem; // 40px 60px
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 3.125rem solid #000000; // 50px
  @include respond-to($phone) {
    padding: 2rem 0;
  }
  @include respond-to($tablet) {
    padding: 1rem; // Ajuste de padding
  }
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  @include respond-to($phone) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer-logo {
  height: 7.5rem;
  @include respond-to($phone) {
    margin-bottom: 1rem;
  }
  @include respond-to ($tablet){
    margin-bottom: 1rem;
  }
}

.footer-text {
  font-size: $fs-xs;
  color: $color-white;
  margin-left: 0.625rem; // 10px
}
