@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
.header_menu {
  background-color: #fafafa;
  padding: 1rem;
}


.header_page {
  padding: 1.5rem 1.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-white;
  font-family: "Lilita One", sans-serif;
  height: 17rem;

  @include respond-to($phone) {
    flex-direction: column; // Cambia a una columna en pantallas pequeñas
    padding: 1rem;
    height: auto;
    margin-top: -2rem; // Subir el header
  }
}

.header-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  font-family: $ff-title;

  @include respond-to($phone) {
    padding: 8rem;
    margin: -5rem;
    text-align: center;
    position: relative;
    z-index: 1;
  }
}

.header-logo {
  height: 9.375rem;

  @include respond-to($phone) {
    position: relative; // Cambia a relativa para que se ajuste al flujo
    top: 0; // Elimina la posición absoluta que podría moverlo fuera de la pantalla
    left: -4rem;
    width: 5rem; // Reduce el tamaño del logo para pantallas pequeñas
    padding: 0.5rem;
    height: auto;
  }
}
