$ff-title: "Lilita One", sans-serif;
$ff-parrafo: "Hedvig Letters Serif", serif;

$crl-logo: #990000;
$crl-menu: #000000;
$crl-title: #ffffff;
$crl-main: #cccc99;
$crl-low-green: #464524;
$crl-menu: #ffffff;
$crl-hover: #000000;

$color-white: #ffffff; // Color blanco para usar en texto
$color-black: #000000; // Color negro para usar en texto
$color-light-gray: #cccccc; // Color gris claro para bordes
$color-brown: #c8b882; // Color de fondo de la caja de imágenes

$logo-margin-bottom: 1rem;
$fs-xs: 0.76rem; // 14
$fs-nm: 1rem; // 16
$fs-xnm: 1.25rem; // 20
$fs-md: 1.875rem; // 30
$fs-xmd: 2.5rem; // 40
$fs-xxmd: 3.125rem; // 50
$fs-lg: 3.75rem; // 60
$fs-xl: 4rem; // 70
$fs-xxl: 5rem; // 80
$fs-gt: 6.25rem; // 100
$fs-xgt: 7.5rem; // 120
